<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>OnlineEntranceExam</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Generate</display-name>
    <servlet-name>Generate</servlet-name>
    <servlet-class>com.file.Generate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Generate</servlet-name>
    <url-pattern>/Generate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DemoExamSchedule</display-name>
    <servlet-name>DemoExamSchedule</servlet-name>
    <servlet-class>com.file.DemoExamSchedule</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoExamSchedule</servlet-name>
    <url-pattern>/DemoExamSchedule</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfirmTestTaker</display-name>
    <servlet-name>ConfirmTestTaker</servlet-name>
    <servlet-class>com.file.ConfirmTestTaker</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmTestTaker</servlet-name>
    <url-pattern>/ConfirmTestTaker</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DemoExamScheduleToDB</display-name>
    <servlet-name>DemoExamScheduleToDB</servlet-name>
    <servlet-class>com.file.DemoExamScheduleToDB</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoExamScheduleToDB</servlet-name>
    <url-pattern>/DemoExamScheduleToDB</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateExamStatus</display-name>
    <servlet-name>UpdateExamStatus</servlet-name>
    <servlet-class>com.file.UpdateExamStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateExamStatus</servlet-name>
    <url-pattern>/UpdateExamStatus</url-pattern>
  </servlet-mapping>
</web-app>