<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>StandAloneProjectCookies</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.jdbc.java.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateUser</display-name>
    <servlet-name>CreateUser</servlet-name>
    <servlet-class>com.service.CreateUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateUser</servlet-name>
    <url-pattern>/CreateUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete</display-name>
    <servlet-name>Delete</servlet-name>
    <servlet-class>com.service.Delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete</servlet-name>
    <url-pattern>/Delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayOption</display-name>
    <servlet-name>DisplayOption</servlet-name>
    <servlet-class>com.service.DisplayOption</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayOption</servlet-name>
    <url-pattern>/DisplayOption</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayUser</display-name>
    <servlet-name>DisplayUser</servlet-name>
    <servlet-class>com.service.DisplayUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayUser</servlet-name>
    <url-pattern>/DisplayUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RaiseSalary</display-name>
    <servlet-name>RaiseSalary</servlet-name>
    <servlet-class>com.service.RaiseSalary</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RaiseSalary</servlet-name>
    <url-pattern>/RaiseSalary</url-pattern>
  </servlet-mapping>
</web-app>