<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>FILTER_SERVLET</display-name>
  <servlet>
    <servlet-name>Filter_Servlet</servlet-name>
    <servlet-class>com.filter.FilterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Filter_Servlet</servlet-name>
    <url-pattern>/Filter_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Filter_Servlet1</servlet-name>
    <servlet-class>com.filter.FilterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Filter_Servlet1</servlet-name>
    <url-pattern>/ab</url-pattern>
  </servlet-mapping>
    <filter>
    <filter-name>FILTER1</filter-name>
    <filter-class>com.filter.MyFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FILTER1</filter-name>
    <url-pattern>/ab</url-pattern>
  </filter-mapping>
  
  
  
  
  
  
</web-app>