.dropbtn {
  background-color: #779578;
  color: white;
  padding: 2px;
  font-size: 15px;
  border: groove;
  cursor: pointer;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #0000ff;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #779578;
}
p.one {
  border-style: solid;
  border-width: 5px;
  border-color: red;
}
.button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 2px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button2 {
  background-color: #008cba;
} /* Blue */
.button3 {
  background-color: #f44336;
}
