.exam-types>h3,
.quetsion-bank>h3 {
    font-weight: 600
}

.quetsion-bank {
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 20px
}

.question1 {
    margin-bottom: 50px !important
}

.exam-types {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 20px
}

.exam-types p {
    padding-top: 30px
}

.grey-back,
.non-grey-back {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 50px
}

footer>p {
    color: #ccc
}

.list-unstyled pricing-list-v2-content-list>li {
    margin-top: 20px
}

.grey-back {
    background: #eee !important
}

.content-md {
    padding-top: 0 !important
}

.Asmt-Solut-png {
    height: 520px !important;
    width: 450px !important
}

.Asmt-f-png {
    height: 300px;
    width: 550px
}

@media only screen and (max-width:768px) {
    .online-test-series {
        height: 400px;
        max-width: 100%
    }
    .container-xs {
        width: auto !important
    }
    .quetsion-bank {
        margin-left: 1%;
        margin-right: 1%
    }
    .question1 {
        margin-left: 1% !important;
        margin-right: 1% !important
    }
    .management-xam .embed-responsive-16by9 {
        width: auto !important;
        height: 200px !important
    }
    .Asmt-Solut-png {
        height: 350px !important;
        width: 100% !important
    }
    .same-img {
        height: 200px !important;
        width: 400px !important
    }
    .small-img {
        height: 150px !important
    }
    .mob-view {
        padding-right: 0 !important;
        padding-left: 0 !important
    }
}

.same-img {
    height: 330px;
    width: 100%
}

.small-img {
    height: 150px
}

.embed-responsive-16by9 {
    padding-bottom: 56.25%;
    margin-bottom: 50px
}

.management-xam .embed-responsive-16by9 {
    padding-bottom: 36.25%;
    margin-bottom: 50px;
    height: 300px;
    width: 689px
}

.online-test-series .same-img {
    height: 450px;
    max-width: 70%
}